---
import RodoLayout from "../layouts/RodoLayout.astro";
const headerStyle = "font-cinzel font-semibold text-left pt-4 pb-3";
---

<RodoLayout title="Rodo">
  <section
    class="py-5 min-h-screen px-4 max-w-[600px] mx-auto text-justify"
    id="rodo"
  >
    <h1 class="pb-5 font-cinzel font-semibold text-center">
      INFORMACJA DOTYCZĄCA PRZETWARZANIA DANYCH OSOBOWYCH PRZEZ ADMINISTRATORA
    </h1>
    <div>
      <header class=`${headerStyle}`>I. Administrator danych osobowych</header>
      <p>
        Administratorem danych osobowych jest Paulina Komenda prowadząca
        działalność gospodarczą pod nazwą Kancelaria Adwokacka Adwokat Paulina
        Komenda z siedzibą przy ul. Sienkiewicza 55A lok 90, 15-002 Białystok, e
        - mail: adw.komenda@gmail.com
      </p>
    </div>
    <div>
      <header class=`${headerStyle}`>II. Cele i podstawy przetwarzania</header>
      <p>
        Dane osobowe przetwarzane będą w celu udzielenia porady prawnej,
        konsultacji, sporządzenia opinii prawnej lub prowadzenia sprawy i
        zabezpieczenia roszczeń Administratora związanych z jej dokonaniem -
        podstawa przetwarzania z art. 6 ust. 1 lit. f rozporządzenia Parlamentu
        Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie
        ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w
        sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy
        95/46/WE [dalej: RODO].
      </p>
    </div>
    <div>
      <header class=`${headerStyle}`>III. Odbiorcy danych osobowych</header>
      <p>
        Dane osobowe mogą być udostępniane podmiotowi przetwarzającemu dane
        osobowe na zlecenie Administratora w związku z wykonywaniem usług
        informatycznych i usług księgowych, przy czym podmiot ten przetwarza
        dane na podstawie umowy z Administratorem i wyłącznie zgodnie z
        poleceniem Administratora.
      </p>
    </div>
    <div>
      <header class=`${headerStyle}`>
        IV. Okres przechowywania danych osobowych
      </header>
      <p>
        Pani/Pana dane osobowe będą przechowywane przez okres wynikający z
        przepisów będących podstawą przetwarzania danych oraz na czas trwania
        usprawiedliwionego interesu Administratora, o którym mowa powyżej, tj
        przez czas przedawnienia roszczeń.
      </p>
    </div>
    <div>
      <header class=`${headerStyle}`>
        V. Prawa osób, których dane dotyczą
      </header>
      <p class="text-left">
        Osobie, której dane dotyczą przysługuje:
        <br />
        <span
          >• prawo żądania od Administratora dostępu do swoich danych osobowych
          oraz otrzymania ich kopii, ich sprostowania (poprawiania) oraz w
          przypadkach określonych przez RODO prawo do usunięcia lub ograniczenia
          przetwarzania danych osobowych,</span
        >
        <br />
        <span
          >• prawo przenoszenia danych w przypadkach określonych przez RODO,</span
        >
        <br />
        <span
          >• prawo wniesienia skargi do organu nadzorczego, tj. Prezesa Urzędu
          Ochrony Danych Osobowych,</span
        >
        <br />
        <span
          >• prawo wniesienia sprzeciwu wobec przetwarzania ze względu na
          szczególną sytuację (o ile przetwarzanie odbywa się na podstawie
          prawnie uzasadnionego interesu),</span
        >
        <br />
        <span
          >• prawo cofnięcia w dowolnym momencie zgody na przetwarzanie danych
          osobowych (o ile przetwarzanie odbywa się na podstawie zgody).</span
        >
      </p>
    </div>
    <div>
      <header class=`${headerStyle}`>
        VI. Informacja o wymogu podania danych
      </header>
      <p>
        Podanie danych jest warunkiem niezbędnym do udzielenia porady prawnej,
        sporządzenia opinii lub prowadzenia sprawy.
      </p>
    </div>
    <div>
      <header class=`${headerStyle}`>VII. Inne informacje</header>
      <p>
        Dane osobowe nie będą przekazywane do państwa trzeciego i nie podlegają
        zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu.
      </p>
    </div>
  </section>
</RodoLayout>
