---
import PostLayout from "../../layouts/PostLayout.astro";
import Header from "../../components/Header.astro";
import BreadCrumbs from "../../features/blog/article/breadCrumbs.astro";
import { ArticlesPagination } from "../../features/blog/article/ArticlesPagination";

const { slug } = Astro.params;

export async function getStaticPaths() {
  const posts = await import(`../../content/posts/${slug}.md`);
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

let Post;
try {
  Post = await import(`../../content/posts/${slug}.md`);
} catch (error) {
  console.error("Failed to import post:", error);
  Post = null;
}
---

<PostLayout title={Post.frontmatter.title}>
  <Header animate={false} mainPage={false} />
  <div class="pt-[15vh] px-[5vw]">
    <BreadCrumbs title={Post ? Post.frontmatter.title : "Post Not Found"} />
    {Post ? <Post.Content /> : <p>Post not found.</p>}
  </div>
  <ArticlesPagination
    slugC={Post.frontmatter.slug}
    currentTabIndex={0}
    setCurrentTabIndex={null}
    client:load
    blog={true}
  />
</PostLayout>
