---
import { FooterLink } from "./FooterLink";
const containerStyle =
  "flex flex-col pl-[5vw] max-w-[440px] sm:max-w-full xl:min-w-[260px] min-w-fit";
const headingStyle = "pb-4 font-cinzel text-2xl";
const elementsStyle =
  "grid grid-cols-2 grid-rows-auto gap-x-10 gap-y-7 sm:flex sm:flex-col sm:gap-5 ";
const linkStyles =
  "hover:font-semibold cursor-pointer text-normal active:text-[#D9C6AF] focus:border-[#533630] nav-link";
---

<section
  class="bg-[#0E1F2A] pt-5 md:pt-14 lg:pt-20 pb-5 text-[#B58C67]"
  id="footer"
>
  <div class="px-[5vw] lg:px-0 lg:pl-[9.3vw] pb-16">
    <h2 class="text-4xl font-cinzel">PAULINA KOMENDA</h2>
    <h2 class="text-2xl font-cinzel">KANCELARIA ADWOKACKA</h2>
  </div>
  <div
    class="flex flex-col sm:flex-row sm:flex-wrap sm:justify-start sm:gap-x-12 sm:gap-y-5 md:justify-start md:pr-2 lg:justify-center"
  >
    <div class=`${containerStyle} md:order-2`>
      <h3 class=`${headingStyle}`>USŁUGI PRAWNE</h3>
      <div class="hidden lg:block">
        <div class=`${elementsStyle}`>
          <FooterLink client:load tabNum={0} linkTo="#tgt"
            >Prawo rodzinne</FooterLink
          >
          <FooterLink client:load tabNum={1} linkTo="#tgt"
            >Konwencja Haska</FooterLink
          >
          <FooterLink client:load tabNum={2} linkTo="#tgt"
            >Prawo spadkowe</FooterLink
          >
          <FooterLink client:load tabNum={3} linkTo="#tgt"
            >Prawo karne</FooterLink
          >
          <FooterLink client:load tabNum={4} linkTo="#tgt"
            >Prawo cywilne</FooterLink
          >
        </div>
      </div>
      <div class="block lg:hidden">
        <div class=`${elementsStyle}`>
          <FooterLink client:load tabNum={0} linkTo="#rodzinne"
            >Prawo rodzinne</FooterLink
          >
          <FooterLink client:load tabNum={1} linkTo="#haska"
            >Konwencja Haska</FooterLink
          >
          <FooterLink client:load tabNum={2} linkTo="#spadkowe"
            >Prawo spadkowe</FooterLink
          >
          <FooterLink client:load tabNum={3} linkTo="#karne"
            >Prawo karne</FooterLink
          >
          <FooterLink client:load tabNum={4} linkTo="#cywilne"
            >Prawo cywilne</FooterLink
          >
        </div>
      </div>
    </div>
    <!--  -->
    <div class=`${containerStyle} pt-12 sm:pt-0 md:order-3`>
      <h3 class=`${headingStyle}`>KANCELARIA</h3>
      <div class=`${elementsStyle}`>
        <a
          aria-label="link to about section"
          href="#about"
          class=`${linkStyles} h-fit`>O mnie</a
        >
        <a aria-label="link to blog section" href="#blog" class=`${linkStyles}`
          >Blog</a
        >
        <a aria-label="link to facebook" href="#" class=`${linkStyles}`
          >Facebook</a
        >
        <a aria-label="link to instagram" href="#" class=`${linkStyles}`
          >Instagram</a
        >
        <a
          aria-label="link to rodo"
          href="/rodo"
          target="_blank"
          class="hover:font-semibold cursor-pointer text-normal active:text-[#D9C6AF] focus:border-[#533630]"
          >RODO</a
        >
      </div>
    </div>
    <!--  -->
    <div class=`${containerStyle} pt-12 sm:pt-0 md:order-1 `>
      <a
        aria-label="link to contact"
        href="#contact"
        class=`${headingStyle} nav-link`>KONTAKT</a
      >
      <div class="flex flex-col gap-5 text-normal">
        <span
          >ul. Sienkiewicza 55A/90 15-002 Białystok <br /> Spółdzielnia "Trzy Kłosy"</span
        >
        <span>Pon - Pt 9:00 - 17:00</span>
        <a
          aria-label="link to phone"
          href="tel:+48698741258"
          class="hover:font-semibold footer-phone">Tel.: 698 741 258</a
        >
        <a
          aria-label="link to email"
          href="mailto:adw.komenda@gmail.com"
          class="hover:font-semibold md:min-w-52 footer-email"
          >adw.komenda@gmail.com</a
        >
        <span>NIP: 9662171426 </span>
      </div>
    </div>
  </div>
  <div
    class="flex gap-2 lg:gap-10 items-center justify-center pt-14 pb-10 px-[5vw] lg:px-10"
  >
    <div class="grow w-auto h-[1px] bg-[#5A4620]"></div>
    <img
      loading="lazy"
      class="max-w-[300px] max-h-[83px]"
      src="/newLogoForDarkBackground.svg"
      alt="logoKancelariaPaulinaKomenda"
    />
    <div class="grow w-auto h-[1px] bg-[#5A4620]"></div>
  </div>
</section>
