---
const containerStyle = "flex flex-col pl-[5vw] max-w-[400px] sm:max-w-full";
const headingStyle = "pb-4 font-cinzel text-2xl";
const elementsStyle =
  "grid grid-cols-2 grid-rows-auto gap-x-10 gap-y-7 text-normal sm:flex sm:flex-col sm:gap-5 cursor-pointer";
---

<section class="bg-[#0E1F2A] pt-5 md:pt-14 lg:pt-20 pb-5 text-[#B58C67]">
  <div class="px-[5vw] lg:px-0 lg:pl-[9.3vw] pb-16">
    <h2 class="text-4xl font-cinzel">PAULINA KOMENDA</h2>
    <h2 class="text-2xl font-cinzel">KANCELARIA ADWOKACKA</h2>
  </div>
  <div
    class="flex flex-col sm:flex-row sm:flex-wrap sm:justify-start sm:gap-x-12 sm:gap-y-5 md:justify-start md:pr-2 lg:justify-center"
  >
    <!--  -->
    <div class=`${containerStyle} md:order-2`>
      <h3 class=`${headingStyle}`>USŁUGI PRAWNE</h3>
      <div class=`${elementsStyle}`>
        <span>Prawo rodzinne</span>
        <span>Konwencja Haska</span>
        <span>Prawo spadkowe</span>
        <span>Prawo karne</span>
        <span>Prawo cywilne</span>
      </div>
    </div>
    <!--  -->
    <div class=`${containerStyle} pt-12 sm:pt-0 md:order-3`>
      <h3 class=`${headingStyle}`>KANCELARIA</h3>
      <div class=`${elementsStyle}`>
        <span class="h-fit">O mnie</span>
        <span>Blog</span>
        <span>Facebook</span>
        <span>Instagram</span>
        <span>RODO</span>
        <span>Polityka prywatności</span>
      </div>
    </div>
    <!--  -->
    <div class=`${containerStyle} pt-12 sm:pt-0 md:order-1`>
      <h3 class=`${headingStyle}`>KONTAKT</h3>
      <div class="flex flex-col gap-5 text-normal">
        <span>ul. Ogrodowa 4/20 <br /> 15-011 Białystok</span>
        <span>Pon - Pt 9:00 - 17:00</span>
        <span>Tel.: 698 741 258</span>
        <span>kontakt@adwkomenda.pl</span>
        <span>NIP: 123456789</span>
      </div>
    </div>
    <!--  -->
  </div>
  <div
    class="flex gap-2 lg:gap-10 items-center justify-center pt-14 pb-10 px-[5vw] lg:px-10"
  >
    <div class="grow w-auto h-[1px] bg-[#B58C67]"></div>
    <img
      loading="lazy"
      class="max-w-[300px] max-h-[83px]"
      src="logo.png"
      alt="logoKancelariaPaulinaKomenda"
    />
    <div class="grow w-auto h-[1px] bg-[#B58C67]"></div>
  </div>
</section>
